body,html,#map{
      height: 100%;
      width: 100%;
      margin: 0;
      font-family: Helvetica,arial,sans-serif;
    }
    a{
      text-decoration: none;
    }
    h1{
      margin-top: 0;
      margin-bottom: 10px;
    }
    h2{
      font-size: 10px;
      color: #888;
      border-bottom: 1px solid #222;
      padding-bottom: 5px;
      display: inline-block;
    }
    
    h2 a{
      color: #888;
      position: relative;
      padding-right: 22px;
      display: inline-block;
    }
    h2 a:after{
      content: "";
      background: url(CP_logo_geographica.svg) 0 0px no-repeat;
      position: absolute;
      right: 0;
      top: -2px;
      width: 24px;
      height: 15px;
      background-size: 29px 29px;
    }
    

    h4{
      font-size: 14px;
      font-weight: normal;
      margin: 12px 0 0px 0;
    }
    #panel{
      position: absolute;
      left: 10px;
      top: 10px;
      width: 300px;
      background-color: rgba(0,0,0,0.7);
      border: 1px solid #888;
      border-radius: 5px;
      color: #fff;
      padding: 10px;
    }

    #panel select{
      margin-top: 5px;
      width: 100px;
    }

    #datapanel{
      position: absolute;
      right: 50px;
      top: 10px;
      width: 320px;
      background-color: rgba(0,0,0,0.7);
      border: 1px solid #888;
      border-radius: 5px;
      color: #fff;
      padding: 10px;
    }
    #datapanel .arpt{
      float:left;
      width: 50%;
    }

    #datapanel .arpt span{
      font-size: 12px;
    }

    #datapanel span.big,#datapanel span.big2{
      font-size: 25px;
      font-weight: bold;
    }

    #datapanel span.big2{
      font-size: 20px;
    }

    #datapanel h6{
      margin: 0 0 10px 0;
      font-size: 27px;
      font-weight: bold;
      position: relative;
      border-bottom: 1px solid #444;
      display: inline-block;
    }

    #datapanel h6:after{
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      left: 68px;
      
      top: 7px;
      border-radius: 9px;
    }

    #datapanel .el1 h6:after{
      background-color: #2795ff;
    }

    #datapanel .el2 h6:after{
      background-color: #0de000;
    }

    #datapanel label{
      margin-left: 5px;
      color: #888;
      font-size: 12px;
    }

    #datapanel label.l1,#datapanel label.l2{
      font-size: 20px;
      font-weight: bold;
    }

    #datapanel label.l2{
      font-size: 16px;
    }
  

    .credits{
      position: absolute;
      bottom: 20px;
      right: 0px;
    }

    .credits .geographica{
        position: absolute;
      top: auto;
      bottom: 16px;
      right: 0;
      float: right;
      margin-right: 6px;
      width: 30px;
      height: 22px;
      background: url(CP_logo_geographica.svg) 0 -22px no-repeat;
    }

    .credits .geographica span{
      display: block;
      position: relative;
      height: 27px;
      padding-left: 5px;
      line-height: 27px;
      white-space: nowrap;
      top: 0;
      z-index: 13;
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      color: #82b600;
      width: 0;
      overflow: hidden;
      transition: width .2s ease-out;
    }

    .credits .geographica:hover{
      background-position: 0 0;
    }
    .credits .geographica:hover span{
      text-decoration: none;
      overflow:inherit;
      font-size: 12px;
    }

    .coinfo p{
      font-size: 13px;
    }

    .coinfo p.disclaimer{
      color: #bbb;
      font-size: 11px;
    }

    .coinfo h3{
      font-size: 13px;
      margin: 0;
      font-weight: normal;
    }
    
    .coinfo ul{
      margin: 5px 0;
      padding-left: 27px;
    }

    .coinfo li{
      font-size: 12px
    }

    a{
      color:#2795ff;
    }

    .covis{
      font-size: 12px;
    }
     .covis input{
      margin-right: 5px;
     }